

.mobile-shink {
  grid-template-columns: repeat(1, 1fr);
}
.mobile-shink .tds-headline-01 {
  font-size: 40px !important; color: var(--tds-grey-958);
}
@media (min-width: 768px) {
  .mobile-shink {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .mobile-shink  {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .mobile-shink {
    grid-template-columns: repeat(4, 1fr);
  }
  .mobile-shink .tds-headline-01 {
    font-size: 50px !important;
  }
}

.footerTop {
  background-color: var(--tds-footer-top-background);
}

.tds-headline-03 {
  font-size: 20px;
}
@media (min-width: 1380px) {
  .tds-headline-03 {
    font-size: 24px;
  }
}
